<%= simple_form_for @party do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.date_select(:date) %> <br /> <br />
  <% if current_user.friends.presence %>
	<p style="text-align: left"> <strong> Add Friends to Party </strong> </p>
  	<%= f.collection_check_boxes :user_ids, current_user.friends, :id, :name%> <br />
  <% end %>
  <%= f.button :submit %>
<% end %>