<div class="container this-container">
<div class="row row-show-1" style="margin: -30px 0 70px 0; text-align: center">
<div class="col-md-12">
<h1> Your Parties </h1>
<p> <%= button_to 'Throw Party', new_party_path, method: :get, class: "btn btn-default btn-sm", style:"margin: 0 auto; display: block"  %> </p>
</div>
</div>

<% if @parties.presence %>
<% index = 1 %>
<% @parties.each do |party| %>
<% if index % 2 == 0 %>
	<div class="row show-row-5">
	<div class="col-md-12" style="text-align: center; display: block">
	<p> <h2> <%= link_to "#{party.name}" , party_path(party) %> </h2> <br />
		<strong> Date: </strong> <%= party.date.to_formatted_s(:long) %> <br /> <br />
		<strong> Location: </strong> <%= party.location %> <br /> <br />
		<strong> Snackers Attending </strong>  <br /> <br />
		<% party.users.each do |snacker| %>
			<%= link_to "#{snacker.name}", user_path(snacker) %> <br />
		<% end %>
		</p>
	</div>
	</div>
	<% index += 1 %>
<% else %>
<div class="row show-row-4">
<div class="col-md-12" style="text-align: center; display: block">
	<p> <h2> <%= link_to "#{party.name}" , party_path(party) %> </h2> <br /> <br />
		<strong> Date: </strong> <%= party.date.to_formatted_s(:long) %> <br /> <br />
		<strong> Location: </strong> <%= party.location %> <br /> <br />
		<strong> Snackers Attending </strong>  <br /> <br />
		<% party.users.each do |snacker| %>
			<%= link_to "#{snacker.name}", user_path(snacker) %> <br /> 
		<% end %>
		</p>
</div>
</div>
<% index += 1 %>
<% end %>
</div>
<% end %>
<% end %>

