<% if @user.name.presence %>
<h1> <%=@user.name%>'s Profile </h1>
<% else %>
<h1> Hello, <%=@user.email%>! <%=link_to 'Update your display name', edit_user_registration_path %> </h1>
<%end%>

<%= form_tag user_path(@user), method: :get do %>
	<%= text_field_tag :query, @query %>
	<%= submit_tag "Search" %>
<% end %>

<% if @dishes.presence && @query.presence %>
	<% @dishes.each do |dish| %>
	<% if Dish.find_by(query_id: dish["id"]) %>
		<% current_dish = Dish.find_by(query_id: dish["id"]) %>
		<p> <%= link_to  "#{current_dish.name}", dish_path(current_dish) %> | <%= image_tag "#{current_dish.image}" %> <%=link_to add_dish_dish_path(current_dish), method: :put, class: "btn btn-default btn-sm" do %>
  	  Save Snack
  <%end %>  </p>
	<% else %>
		<% new_response = Unirest.get "https://webknox-recipes.p.mashape.com/recipes/#{dish["id"]}/information",
  			headers:{
    		"X-Mashape-Key" => "8nBXNLJkYlmshUJzjuIrdsM2ciHpp1JTDOmjsnF4J7juwQORb1",
    		"Accept" => "application/json"
  			} %>
  		<% response = new_response.body %>
		<% current_dish = Dish.create query_id: dish["id"], name: dish["title"], url: response["sourceUrl"], vegan: response["vegan"], vegetarian: response["vegetarian"], cheap: response["cheap"], servings: response["servings"], gluten_free: response["glutenFree"], image: "https://webknox.com/recipeImages/#{response["image"]}" %>
		<p> <%= link_to  "#{dish["title"]}", dish_path(current_dish) %> <%=link_to add_dish_dish_path(current_dish), method: :put, class: "btn btn-default btn-sm" do %>
  	  Save Snack
  <%end %> </p>
		<%= dish["image"] %>
	<% end %>
<%end%>
<% elsif @query.presence %>
	<p>No results found, please search again</p>
<% else %>
<% end %>

<%= render @user.dishes %>

<% if @user == current_user %>
<%= link_to 'Edit Food Preferences', edit_user_path(current_user) %>
<% end %>