<% if @user.name.presence %>

<h1> <%=@user.name%>'s Profile </h1> 
<% if @user != current_user%>
  <% if !(current_user.friends.include?(@user)) %>
  <%= link_to "Request Snacker", friendships_path(:friend_id => @user), :method => :post, class: "btn btn-default btn-sm" %>
  <% end %>
<%end%>

<h1> <div> <%=@user.name%>'s Saved Snacks </div> </h1>

<% else %>
<h1> Hello, <%=@user.email%>! <%=link_to 'Update your display name', edit_user_registration_path %> </h1>
<%end%>



 <body>
 
<!-- Page Features -->
        <% @user_dishes.each_slice(3) do |row| %>
        <div class="row text-center">
        	<% row.each do |dish| %>
            <div class="col-md-4 hero-feature" id = "div-height">
                <div class="thumbnail">
                    <%= link_to (image_tag dish.image, class:'img-responsive'), user_dish_path(@user, dish) %> 
                    <div class="caption">
                         <%= link_to dish.name, user_dish_path(@user, dish) %>                    
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
        <%end%>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
    </div>
    <!-- /.container -->
</body>