<% if @user.name.presence %>

<h1> <%=@user.name%>'s Profile </h1> 
<% if @user != current_user%>
  <% if !(current_user.friends.include?(@user)) %>
  <%= link_to "Request Snacker", friendships_path(:friend_id => @user), :method => :post, class: "btn btn-default btn-sm" %>
  <% end %>
<%end%>

<h1> <div> <%=@user.name%>'s Saved Snacks </div> </h1>

<% else %>
<h1> Hello, <%=@user.email%>! <%=link_to 'Update your display name', edit_user_registration_path %> </h1>
<%end%>

<% if @dishes.presence && @query.presence %>
	<% @dishes.each do |dish| %>
	<% if Dish.find_by(query_id: dish["id"]) %>
		<% current_dish = Dish.find_by(query_id: dish["id"]) %>
		<p> <%= link_to  "#{current_dish.name}", user_dish_path(@user, current_dish) %> | <%= image_tag "#{current_dish.image}" %> <%=link_to add_dish_dish_path(current_dish), method: :put, class: "btn btn-default btn-sm" do %>
  	  Save Snack
  <%end %>  </p>
	<% else %>
		<% new_response = Unirest.get "https://webknox-recipes.p.mashape.com/recipes/#{dish["id"]}/information",
  			headers:{
    		"X-Mashape-Key" => "8nBXNLJkYlmshUJzjuIrdsM2ciHpp1JTDOmjsnF4J7juwQORb1",
    		"Accept" => "application/json"
  			} %>
  		<% response = new_response.body %>
		<% current_dish = Dish.create query_id: dish["id"], name: dish["title"], url: response["sourceUrl"], vegan: response["vegan"], vegetarian: response["vegetarian"], cheap: response["cheap"], servings: response["servings"], gluten_free: response["glutenFree"], image: "https://webknox.com/recipeImages/#{response["image"]}" %>
		<p> <%= link_to  "#{dish["title"]}", user_dish_path(@user, current_dish) %> <%=link_to add_dish_dish_path(current_dish), method: :put, class: "btn btn-default btn-sm" do %>
  	  Save Snack
  <%end %> </p>
		<p> <%= dish["image"] %> </p>
	<% end %>
<%end%>
<% elsif @query.presence %>
	<p>No results found, please search again</p>
<% else %>
<% end %>



 <body>
 
      

        
       


        <!-- Page Features -->
        <% @user_dishes.each_slice(3) do |row| %>
        <div class="row text-center">
        	<% row.each do |dish| %>
            <div class="col-md-4 hero-feature" id = "div-height">
                <div class="thumbnail">
                    <%= link_to (image_tag dish.image, class:'img-responsive'), user_dish_path(@user, dish) %> 
                    <div class="caption">
                         <%= link_to dish.name, user_dish_path(@user, dish) %>                    
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
        <%end%>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
    </div>
    <!-- /.container -->
</body>