<h1> Add Snack to the Party </h1>
<%= form_tag party_create_party_dish_path(@party), method: :put do %>
    <%= text_field_tag :party_query, @party_query, placeholder: 'Find a snack' %>
<%= submit_tag "Search" %>
<% end %>

<% if @dishes.presence && @party_query.presence %>
	<% @dishes.each do |dish| %>
	<% if Dish.find_by(query_id: dish["id"]) %>
		<% current_dish = Dish.find_by(query_id: dish["id"]) %>
		<p> <%= link_to  "#{current_dish.name}", user_dish_path(current_user, current_dish) %> | <p style="position: inline"> <%= image_tag "#{current_dish.image}" %> </p> <%=link_to add_dish_path(@party, current_dish), class: "btn btn-default btn-sm" do %>
      Save Snack to Party
  <%end %>  </p> 
	<% else %>
		<% new_response = Unirest.get "https://webknox-recipes.p.mashape.com/recipes/#{dish["id"]}/information",
  			headers:{
    		"X-Mashape-Key" => "8nBXNLJkYlmshUJzjuIrdsM2ciHpp1JTDOmjsnF4J7juwQORb1",
    		"Accept" => "application/json"
  			} %>
  		<% second_response =  Unirest.get "https://webknox-recipes.p.mashape.com/recipes/#{dish["id"]}/summary",
        headers:{
          "X-Mashape-Key" => "8nBXNLJkYlmshUJzjuIrdsM2ciHpp1JTDOmjsnF4J7juwQORb1",
          "Accept" => "application/json"
        } %>
  		<% response = new_response.body %>
  		<% new_descrip = second_response.body["summary"] %>
 		<% current_dish = Dish.create query_id: dish["id"], name: dish["title"], url: response["sourceUrl"], vegan: response["vegan"], vegetarian: response["vegetarian"], cheap: response["cheap"], servings: response["servings"], gluten_free: response["glutenFree"], image: "https://webknox.com/recipeImages/#{response["image"]}", description: new_descrip %>
		<p> <%= link_to  "#{current_dish.name}", user_dish_path(current_user, current_dish) %> | <p style="position: inline"> <%= image_tag "#{current_dish.image}" %> </p> <%=link_to add_dish_path(@party, current_dish), class: "btn btn-default btn-sm" do %>
  	  Save Snack to Party
  <%end %>  </p> 
	<% end %>
<%end%>
<% elsif @query.presence %>
	<p>No results found, please search again</p>
<% else %>
<% end %>