<h1> <%= @dish.name %> </h1> <%=link_to add_dish_dish_path(@dish), method: :put, class: "btn btn-default btn-sm" do %>
  	  Save Snack
  <%end %>
<h1> <small> <%= link_to "#{@dish.url}", @dish.url %> </small> </h1>
<hr>

<p> 
<ul>
	<% if @dish.vegetarian %>
		<li> Vegetarian </li>
	<%end%>
	<% if @dish.vegan %>
		<li> Vegan </li>
	<%end%>
	<% if @dish.gluten_free %>
		<li> Gluten Free </li>
	<%end%>
	<% if @dish.cheap %>
		<li> Cheap </li>
	<%end%>
</ul>

<p> <strong> Servings: </strong><%= @dish.servings %> <br />

<%= link_to 'Back to Profile', user_path(current_user) %>



