<% if user_signed_in? %>   Logged in as <strong><%= current_user.email %></strong>.   
<%= link_to 'Snackers', users_path %> | <%= link_to 'Snack Profile', edit_user_path(current_user) %> | <%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %> | <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> <% else %>   <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |   <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> <% end %>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                	<% if user_signed_in? %> 
                    <li>
                        <%= link_to 'Snacktivist', user_path(current_user), :class => 'navbar-brand' %>
                    </li>
                	<li>
                        <%= link_to 'Snackers', user_path(current_user) %>
                    </li>  
                    <li>
                        <%= link_to 'Snack Preferences', edit_user_path(current_user) %>
                    </li>
                    <li>
                        <%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %>
                    </li>
                    
                    <li>
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                    </li>
                    <li>
                        Logged in as <strong><%= current_user.name %></strong>
                    </li>
                    <% else %>   
                    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |   <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> 
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        


</body>

