<!DOCTYPE html>
<html>
<head>
  <title>AndrewCamProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<div style="background-color: rgba(218,221,251,1)">
<%= render 'layouts/nav' %> 
</div>
<%= yield %>
 <script src="js/bootstrap.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
